[Unit]
Description=Project_AroundTheClock
After=multi-user.target

[Service]
ExecStart=ls
WorkingDirectory=<PATH_TO_PROJECT_ROOT>
Type=idle
User=aroundtheclock
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
