[Unit]
Description=Project_AroundTheClock
After=multi-user.target

[Service]
Type=simple
User=aroundtheclock
ExecStart=<PATH_TO_PROJECT_ROOT>/bin/run.sh
WorkingDirectory=<PATH_TO_PROJECT_ROOT>
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
