[Unit]
Description=Project_AroundTheClock
After=multi-user.target

[Service]
ExecStart=/tmp/test.sh
WorkingDirectory=<PATH_TO_PROJECT_ROOT>
Type=idle
User=travis
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
